<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cierre de Mesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Pedidos -->
  <ion-card class="card-background" *ngIf="this.pedidos.length> 0">
    <ion-card-content>
      <div *ngFor="let pedido of this.pedidos">
        <div class="width-100 align-text-center big-letter">
          Mesa {{pedido.mesa}}
        </div>
        <div class="width-100 align-text-center big-letter">
          Mesa {{pedido.correo}}
        </div>

        <div class="width-100 center-horizontal center-vertical">
          <ion-button color="tertiary"
            (click)="this.verPedido(pedido.key)">
            Ver
          </ion-button>
        </div>

        <div class="width-100 center-horizontal center-vertical">
          <ion-button (click)="cerrarPedido(pedido)">Cerrar Mesa</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- En caso de no existir pedidos -->
  <ion-card class="card-background"
    *ngIf="this.pedidos.length == 0">
    <ion-card-content>
      No hay mesas para cerrar.
    </ion-card-content>
  </ion-card>
</ion-content>