<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Pedidos pendientes <!-- Bartenders, etc -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let d of this.pedidoDetalle">
    <ion-card class="card-background">
      <ion-card-content>
        <ion-item>
          <ion-label>Pedido</ion-label>
          <ion-input readonly [value]="d.id_pedido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Producto</ion-label>
          <ion-input readonly [value]="d.producto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Cantidad</ion-label>
          <ion-input readonly [value]="d.cantidad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-input readonly [value]="d.estado"></ion-input>
        </ion-item>


        <div class="width-100 align-between" *ngIf="d.estado != 'listoEntrega'">
          <!-- <ion-button color="primary" (click)="this.cambiarEstado(d, 'aceptado')">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button> -->
          <ion-button color="success" [disabled]="d.estado != 'aceptado'"
            (click)="this.cambiarEstado(d, 'preparacion')">
            Preparar
          </ion-button>
          <ion-button color="danger" [disabled]="d.estado != 'preparacion'"
            (click)="this.presentAlertConfirmarEntrega(d, 'listoEntrega')">
            Entregar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="this.pedidoDetalle != undefined && this.pedidoDetalle.length ==
    0">
    <ion-card class="card-background">
      <ion-card-content>
        No hay detalles pendientes.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
