.flex {
  &-v {
    display: flex;
    flex-direction: column;
  }
  &-h {
    display: flex;
    flex-direction: row;
  }
}

.transparent-item {
  --background-color: transparent !important;
}

.background-image {
  --background: url("/assets/img/regback.png") 0 0/100% 100% no-repeat;
}
