<div class="logoOutFix">
  <img class="logOutImg" (click)="authService.Logout()"
    src="/assets/img/logotout.png">
</div>

<ion-content>

  <img class="logOutImg" (click)="authService.Logout()"
    src="/assets/img/logotout.png">

  <div [hidden]="ocultarSpinner" class="divSpinner">
    <table class="tableSpinner">
      <tr><img class="hided" src="assets/img/hided.png"></tr>
      <tr><img src="assets/img/preloader.gif"></tr>
    </table>
  </div>

  <ion-item class="itemcButton">
    <button routerLink="/registro-empleado" class="button">Registrar Empleado</button>
  </ion-item>

  <!-- Para el mozo -->
  <ion-item class="itemcButton">
    <button routerLink="/abm-mesa" class="button">Registrar Mesa</button>
    <button routerLink="/abm-producto" class="button">Registrar Producto</button>
  </ion-item>
  <ion-item class="itemcButton">
    <button routerLink="/encuesta-empleado" class="button">Encuesta</button>
  </ion-item>

  <!-- Para el cliente -->
  <ion-item class="itemcButton">
    <button routerLink="/encuesta-cliente" class="button">Encuesta</button>
  </ion-item>

</ion-content>
