<div class="logoOutFix">
  <img class="logOutImg" (click)="authService.Logout()"
    src="/assets/img/logotout.png">
</div>

<ion-content>

  <img class="logOutImg" (click)="authService.Logout()"
    src="/assets/img/logotout.png">

  <div [hidden]="ocultarSpinner" class="divSpinner">
    <table class="tableSpinner">
      <tr><img class="hided" src="assets/img/hided.png"></tr>
      <tr><img src="assets/img/preloader.gif"></tr>
    </table>
  </div>

  <!-- Para el dueño / supervisor -->
  <ion-item class="itemcButton">
    <button routerLink="/registro-empleado" class="button">Registrar Empleado</button>
    <button routerLink="/encuesta-sup" class="button">Encuesta</button>
  </ion-item>
  <ion-item class="itemcButton">
    <button routerLink="/list-confirmar-cliente-alta" class="button">Clientes a
      Confirmar</button>
  </ion-item>

  <!-- Para el mozo -->
  <ion-item class="itemcButton">
    <button routerLink="/abm-mesa" class="button">Registrar Mesa</button>
    <button routerLink="/abm-producto" class="button">Registrar Producto</button>
  </ion-item>
  <ion-item class="itemcButton">
    <button routerLink="/encuesta-empleado" class="button">Encuesta</button>
    <button routerLink="/list-confirmar-cliente-mesa" class="button">Lista de
      Espera</button>
  </ion-item>

  <!-- Para el cliente -->
  <ion-item class="itemcButton">
    <!-- <button routerLink="/encuesta-cliente" class="button">Encuesta</button> -->
    <button routerLink="/generar-pedido" class="button">Generar Pedido</button>
  </ion-item>

  <!-- Para multiples tipos de usuario -->
  <ion-item class="itemcButton">
    <button routerLink="/qr-ingreso-local" class="button">Ingreso al Local</button>
    <button routerLink="/qr-mesa" class="button">QR de Mesa</button>
  </ion-item>

</ion-content>
