<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button color="light" size="small" (click)="cerrarSesion()">
        <ion-icon name="power" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{(this.tipoUser == '' ? "..." : this.tipoUser) | titlecase}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" size="small" (click)="this.configModal()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="this.tipoUser == ''"
    class="width-100 center-horizontal center-vertical flex-v spinner-text">
    Espere...
    <ion-spinner color="dark"></ion-spinner>
  </div>

  <!-- Para el dueño / supervisor -->
  <div *ngIf="this.tipoUser == 'supervisor' || this.tipoUser == 'dueño'"
    class="width-100 center-horizontal flex-wrap">
    <ion-button routerLink="/registro-empleado" size="large">
      Registrar Empleado
    </ion-button>
    <ion-button routerLink="/encuesta-sup" size="large">
      Encuesta
    </ion-button>
    <ion-button routerLink="/list-confirmar-cliente-alta" size="large">
      Confirmación de Clientes
    </ion-button>
    <ion-button routerLink="/list-confirmar-cliente-mesa" size="large">
      Lista de Espera
    </ion-button>
    <ion-button routerLink="/qr-mesa" size="large">
      QR de Mesa
    </ion-button>
    <ion-button routerLink="/confirmar-cierre-mesa" size="large">
      Cierre de Mesas
    </ion-button>
  </div>

  <!-- Para camarero (cocinero), bartender, candybar -->
  <div class="width-100 center-horizontal flex-wrap"
    *ngIf="this.tipoUser == 'camarero' || this.tipoUser == 'candybar' ||
    this.tipoUser == 'bartender'">
    <ion-button routerLink="/abm-producto" size="large">
      Registrar Producto
    </ion-button>
    <ion-button routerLink="/encuesta-empleado" size="large">
      Encuesta
    </ion-button>
  </div>

  <!-- Para el mozo -->
  <div class="width-100 center-horizontal flex-wrap"
    *ngIf="this.tipoUser == 'mozo'">
    <ion-button routerLink="/abm-producto" size="large">
      Registrar Producto
    </ion-button>
    <ion-button routerLink="/abm-mesa" size="large">
      Registrar Mesas
    </ion-button>
    <ion-button routerLink="/encuesta-empleado" size="large">
      Encuesta
    </ion-button>
    <ion-button routerLink="/qr-ingreso-local" size="large">
      Ingreso al Local
    </ion-button>
    <ion-button routerLink="/list-confirmar-cliente-mesa" size="large">
      Lista de Espera
    </ion-button>
    <ion-button routerLink="/qr-mesa" size="large">
      QR de Mesa
    </ion-button>
    <ion-button routerLink="/list-confirmar-pedido" size="large">
      Confirmación de Pedidos
    </ion-button>
    <ion-button routerLink="/confirmar-entrega-mozo" size="large">
      Confirmar Entrega Mozo
    </ion-button>
    <ion-button routerLink="/confirmar-cierre-mesa" size="large">
      Cierre de Mesas
    </ion-button>
  </div>

  <!-- Para el cliente -->
  <div class="width-100 center-horizontal flex-wrap"
    *ngIf="this.tipoUser == 'cliente' || this.tipoUser == 'anonimo'">
    <ion-button routerLink="/qr-ingreso-local" size="large">
      Ingreso al Local
    </ion-button>
    <ion-button routerLink="/qr-mesa" size="large">
      QR de Mesa
    </ion-button>
    <ion-button routerLink="/generar-pedido" size="large">
      Generar Pedido
    </ion-button>
    <ion-button routerLink="/confirmar-entrega" size="large">
      Confirmar Entrega
    </ion-button>
  </div>
</ion-content>
