<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Registro de Clientes</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <div [hidden]="ocultarSeccion0">
        <ion-button (click)="ElegirCliente('cliente')"
            expand="block" color="secondary">
            Registrarme como cliente
        </ion-button>
        <ion-button (click)="ElegirCliente('anonimo')"
            expand="block" color="tertiary">
            Registrar como anonimo
        </ion-button>
    </div>

    <div [hidden]="ocultarSeccion1" class="ion-no-padding">
        <ion-card class="card-background">
            <ion-card-content>
                <div class="width-100 center-horizontal center-vertical">
                    <img class="profile-picture" src="assets/img/add_user.png">
                </div>

                <ion-item class="ion-no-padding">
                    <ion-label position="floating">Correo</ion-label>
                    <ion-input type="text" name="name"
                        [(ngModel)]="usuario.correo"
                        placeholder="algo@algo.com"></ion-input>
                </ion-item>

                <ion-item class="ion-no-padding">
                    <ion-label position="floating">Clave</ion-label>
                    <ion-input type="password" name="password"
                        [(ngModel)]="clave"
                        placeholder="Mínimo de 6 caracteres"></ion-input>
                </ion-item>

                <ion-item class="ion-no-padding">
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
                </ion-item>

                <ion-item class="ion-no-padding" [hidden]="!esCliente">
                    <ion-label position="floating">Apellido</ion-label>
                    <ion-input type="text" [(ngModel)]="usuario.apellido"></ion-input>
                </ion-item>

                <ion-item class="ion-no-padding" [hidden]="!esCliente">
                    <ion-label position="floating">DNI</ion-label>
                    <ion-input type="number" [(ngModel)]="usuario.DNI"></ion-input>
                </ion-item>

                <div [hidden]="!esCliente"
                    class="width-100 center-horizontal center-vertical">
                    <ion-button (click)="EscanearDNI()">Escanear DNI</ion-button>
                </div>
                <div class="width-100 center-horizontal center-vertical">
                    <ion-button (click)="ValidarRegistro()" color="success">Registrar</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div [hidden]="ocultarSeccion2" class="width-100 center-horizontal">
        <ion-button (click)="SacarFoto()" color="secondary">Sacar foto</ion-button>
        <ion-button (click)="SinFoto()" color="tertiary">Sin foto</ion-button>
    </div>

    <div [hidden]="ocultarSeccion1" class="width-100 center-horizontal">
        <ion-button (click)="RellenarDatos()" color="warning">Rellenar</ion-button>
    </div>
    <div class="width-100 center-horizontal center-vertical">
        <ion-button routerLink="/login" (click)="BorrarDatos()" color="danger">Volver</ion-button>
    </div>
</ion-content>