<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Confirmar pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-page">
  <ion-card *ngIf="this.pedidos.length> 0" class="card-background">
    <ion-card-content>
      <div class="ion-no-padding transparent-item flex-v" *ngFor="let pedido of
        pedidos">
        <div class="width-100 align-text-center big-letter">
          Mesa {{pedido.mesa}}
        </div>
        <div class="width-100 center-horizontal center-vertical">
          <ion-button color="tertiary"
            (click)="this.verPedido(pedido.key)">
            Ver
          </ion-button>
        </div>

        <div class="width-100 center-horizontal">
          <ion-button color="primary"
            (click)="aceptarPedido(pedido.key)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button color="danger"
            (click)="rechazarPedido(pedido.key, pedido.mesa)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.pedidos.length == 0" class="card-background">
    <ion-card-content>
      No hay pedidos para confirmar.
    </ion-card-content>
  </ion-card>
</ion-content>
