<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button color="light" size="small" (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="this.pedidoActual != undefined" class="card-background">
    <ion-card-content>
      <ion-item class="transparent-item ion-no-padding"
        *ngFor="let producto of pedidoDetalle">
        ({{ producto.cantidad }}) {{ producto.producto }} - {{
        (producto.cantidad * producto.precio) | currency }}
        <div slot="end">{{ producto.estado }}</div>
      </ion-item>
      <ion-button (click)="this.verCuenta()" expand="block" color="tertiary"
        [disabled]="this.pedidoActual!= undefined &&
        (this.pedidoActual.estado == 'comiendo' ||
        this.pedidoActual.estado == 'cuenta')">
        Pedir / Ver Cuenta
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="this.pedidoActual == undefined" class="card-background">
    <ion-card-content>
      Usted aún no ha realizado ningún pedido.
    </ion-card-content>
  </ion-card>
</ion-content>
